{{!-- // 4. Crear un parcial para la sección principal en donde se renderice un helper con el 
// mensaje de bienvenida y se realice una iteración para renderizar un parcial “producto” 
// pasándole como argumento el nombre de cada producto. (2 Puntos) --}}

<h1 class="text-center mt-4"> Bienvenido al Mercado Web</h1>
<h3 class="text-center">Seleccione sus productos</h3>

{{>products}}