  <!-- FOOTER -->
  <footer>
    <div>
    <a href="https://www.linkedin.com/in/matjessicamu%C3%B1oz/"> <i class="fa-brands fa-linkedin"></i> </a>
    <a href="https://github.com/jessicamunozm"> <i class="fa-brands fa-github"></i></a>
    <a href="https://proyectos-adl.slack.com/team/U06CEFZET9U"><i class="fa-brands fa-slack"></i></a>
    <a href="https://wa.link/r3035x"><i class="fa-brands fa-whatsapp"></i></a>
  </div>
  
  <div id="footer">
  <h5>Jessica Muñoz </h5> 
  <h6>Bootcamp desarrollo de aplicaciones Full Stack JavaScript trainee</h6>
  <h6>Desafío Latam</h6>
  </div>
  </footer>