{{!-- // 3. Crear un parcial “producto” que contenga el template correspondiente a la 
// presentación de cada producto en el Dashboard y reciba como parámetro el nombre 
// del producto. --}}

<div class="container">
  <div class="row">
{{#each products}}
<div class="col-md-4 mt-5">
<div class="card mx-auto" style="width: 18rem;">
  <img src="/img/{{this}}.png" class="card-img-top" alt="{{this}}">
  <div class="card-body">
    <h5 class="card-title">{{this}}</h5>
    <a href="#" class="btn btn-primary">Agregar al carro de compras</a>
  </div>
</div>
</div>
{{/each}}
</div>
</div>