<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado web</title>
        <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="/bootstrap">
   
   <!-- GOOGLE FONT QUICKSAND -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Quicksand&display=swap" rel="stylesheet">  
    
    <!-- FONT AWESOME -->
    <script src="https://kit.fontawesome.com/0bc1c63e85.js" crossorigin="anonymous"></script>

    <!-- FAVICON -->
    <link rel="icon" type="image/svg" href="./assets/img/code-solid.svg">
    
    <!-- PALABRAS CLAVE -->
    <meta name="keywords" content="javascript, html, css, bootstrap, node, nodemon, handlebars">

    <!-- CSS -->
    <link rel="stylesheet" href="styles/style.css"> 
</head>
<body>
{{>logo}}
{{>menu}}
{{>header}}
{{>dashboard}}
{{{body}}}
{{>footer}}


<script src="../../index.js"></script>
<link rel="stylesheet" href="/jquery">
</body>
</html>